{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
        <link rel="stylesheet" href="{% static 'users/border.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <nav class="shadow-lg">
           <div class='p-4 mx-auto'>
                <div class='flex justify-between'>
                    <!--Website Logo-->
                    <div>
                        <a class="flex" href="/posts/feed/">
                            <img class="h-8 w-8 ml-2 mr-2" src="{% static 'users/images/social.png' %}" alt="logo">
                            <span class="font-medium text-lg text-gray-500">Photo App</span>
                        </a>
                    </div>
                    <!--Website items-->
                    <div class="space-x-1">
                        {% if request.user.is_authenticated %}
                            <a class="py-4 px-2 text-gray-500 font-medium" href="{%url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="py-4 px-2 text-gray-500 font-medium" href="{%url 'login' %}">Login</a>
                        {% endif %}
                        
                        
                    </div>
                </div>
           </div>
        </nav>
        
        
        {% block body %}
        {% endblock %}        
    </body>
</html>